.navbar-brand{
    font-family: abra;
    font-size: 18px;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    font-weight: 400;
    opacity: 1 !important;
}
#nvitem{
    font-size: 18px;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    font-weight: 400;
    opacity: 1 !important;
}
h5{
    font-family:abra;
    font-size: large;
  }
.carousel-item {
	height: 730px;
	/* min-height: 300px; */
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.carousel-caption {
    position: absolute;
    top: 48%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 75%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
}
@media (max-width: 767px) { 
    .carousel-caption h5 {
        font-size: 30px; 
    }
    .carousel-caption p {
        font-size: 14px; 
    }
}

.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-toggler {
	color:#fff;
    background-color: #fff;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}
.bg-dark{
    background-color: rgba(2, 2, 2, 0.895) !important;
}

.box {
    /* height: 28vh; */
    height: 100vp;
    padding-bottom: 1%;
    padding-top: 4%;
    background-image: linear-gradient(#1E3C40, #365959);
}
.f-section {
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 15%;
    margin-bottom: 5%;
    max-width: 800px;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color:#F2F1DC !important;
}

.fade-in {
    animation: fadeInAnimation 1s ease-in-out forwards;
  }
  
  @keyframes fadeInAnimation {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
  }
  
body{
    font-family:abra;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:url('s1.jpg');
    background-size:cover;
    background-position:center;
}
  
.h1{
    margin-bottom: 48px;
    font-weight: 500;
}
.window {
    width: 400px;
    height: 380px;
    padding: 36px;
    text-align: center;
    border: 15px solid white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}


@media (max-width: 1199px) { 
    body {
        font-size: 16px;
    }
}
@media (max-width: 767px) { 
    body {
        font-size: 14px;
    }
}
@media (max-width: 575px) { 
    body {
        font-size: 12px;
    }
}

.text-dark{
    font-family: abra;
    font-weight: 300;
}